.row
    .col-lg-12
        p
            h4 Adresse:
            p Secinto
            p Schönaugasse 8
            p 8010 Graz
        p
            h4 Telefon:
            | Mobil: &nbsp;06607724525
        p
            h4 E-Mail:
            | <a href="mailto:office@secinto.com">&nbsp;office@secinto.com</a>
        p
            h4 Inhaber:
            | &nbsp;Dr. Stefan Kraxberger
        h4 Juristisches:
        p Umsatzsteuer-Identifikationsnummer: ATU67142816
        p Firmenbuchnummer: 378215z
        p Firmenbuch-Gericht: Landesgericht für ZRS Graz
        p Allgemeine Geschäftsbedigungen
            a(href="res/AGB.pdf") &nbsp;(AGB)
        p Wir übernehmen keine Garantie für die Vollständigkeit, Richtigkeit und Aktualität der auf dieser Webseite bereitgestellten Informationen. Dies gilt auch für von dieser Seite aus direkt oder indirekt verlinkte Webseiten. Jegliche Haftung für die Nutzung der Inhalte dieser Website oder die Richtigkeit der Inhalte oder die Erreichbarkeit der Website wird hiermit ausdrücklich ausgeschlossen. Wir behalten uns vor, ohne vorherige Ankündigungen Veränderungen der bereitgestellten Informationen vorzunehmen.