.row
    .col-xs-12.col-sm-6.col-md-8
        img(src="img/news.png")
.row
    .col-xs-12.col-sm-6.col-md-8
        ul
            li 03.Oktober 2014 – Interview mit den Salzburger Nachrichten über Computerkriminalitätsbekämpfung und Cybercops.
                ul
                    li
                        a(href="http://www.salzburg.com/nachrichten/oesterreich/chronik/sn/artikel/cybercops-dringend-gesucht-122617/", target="_blank") Online (03.10.2014)
                    li
                        a(href="res/cybercops.pdf", target="_blank") Print
            li 11. April 2014 – Interview mit den Salzburger Nachrichten über Heartbleed.
                ul
                    li
                        a(href="http://www.salzburg.com/nachrichten/medien/sn/artikel/heartbleed-der-super-gau-des-internets-102222/?nc=1", target="_blank") Online (11.04.2014)
                    li
                        a(href="res/heartbleed.pdf", target="_blank") Print
            li 2. April 2014 – Interview mit den Salzburger Nachrichten über die Gefahren mit modernen Kommunikationsmitteln im Urlaub und wie man sich schützen kann.
                ul
                    li
                        a(href="http://www.salzburg.com/nachrichten/medien/sn/artikel/a1-gegen-student-im-urlaub-bestohlen-und-gehackt-100908/", target="_blank") Online (02.04.2014)
                    li
                        a(href="res/vacation.pdf", target="_blank") Print
            li Februar 2014 – Launch des von Secinto entwickelten akkreditierten behördlichen elektronischen Zustelldienst&nbsp;
                a(href="http://www.eversand.at", target="_blank") eVersand.at
            li 06. Juni 2013 – Interview mit den Salzburger Nachrichten über die Entwicklung im Autosektor hin zum&nbsp;
                a(href="res/carsecurity.pdf", target="_blank") vernetzten PKW.
            li Mai 2013 – Secinto ist auf der Google IO und sieht sich dort die neuesten Trends in Sachen Webentwicklung und Internetsicherheit an.
            li 24. Jänner 2013 – Interview mit den Salzburger Nachrichten über&nbsp;
                a(href="res/mega.pdf") Mega.com
                | &nbsp;die neue Plattform von Kim Dotcom.
            li 03. April 2012 – Interview mit den Salzburger Nachrichten über die Vorratsdatenspeicherung.
                ul
                    li
                        a(href="res/cover.pdf", target="_blank") Titelseite
                    li
                        a(href="res/story.pdf", target="_blank") Story
            li 04. Mail 2011 – Interview mit den Salzburger Nachrichten über den Einbruch in das Sony Playstation Network
            li 20. April 2011 – Bericht auf PocketPC.ch über Android Sicherheit
            li 18. April 2011 – Bericht auf derStandard.at über Android Sicherheit