.row
    .col-xs-12.col-sm-6.col-md-8
        img(src="img/services.png")
.row
    .col-xs-12.col-sm-6.col-md-8
        p Wir bieten ein vielfältiges Spektrum an Leistungen in den Bereichen Informations- bzw. Kommunikationssicherheit, Softwarearchitektur und Softwareentwicklung an. Mit unserer langjährigen Erfahrung in diesem Bereich sind wir der ideale Partner für sie wenn sie Beratung, Entwicklung, Konzeption und Schulung benötigen. Im speziellen haben wir Expertise mit folgenden Leistungen:
            ul
                li Evaluierung, Aufbereitung und Beschreibung von Sicherheitskomponenten für Zertifizierung (CC und EMVCo)
                li Konzeption von Sicherheitsarchitekturen für Software- und Kommunikationssysteme.
                li Beratung bei der Anschaffung, Einführung und Implementierung von Sicherheitsmechanismen.
                li Schulung und Training von Mitarbeitern und Führungspersonal in verschiedensten sicherheitsrelevanten Thematiken.
                li Konzeption und Entwicklung von Softwaremodulen, Anwendungen oder kompletten Middleware für sichere Informationsverarbeitung und Kommunikation.
                li Unterstützung bei Aufbereitung und Beschreibung von Sicherheitskomponenten für Präsentation oder Tests.
                li Falls sie auch ähnliche Leistungen benötigen stehen wir ihnen gerne für ein persönliches Gespräch zur Verfügung.