doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Secinto - With security into the world
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body